.header{
    grid-area: h;
    text-align: center;
    border: 2px black solid;

}

.main {
    grid-area: m;
    border: 2px red solid;
    max-width: 960px;
}

.grid-container{
    display: grid;
    margin: 0 auto;
    width: auto;
    /* grid-template-columns: repeat(12,1fr); */
    grid-auto-rows: minmax(100px,auto);
    grid-row-gap:20px;
    grid-template-areas: 
    'h h h h h h h h h h h h'
    '. m m m m m m m m m m .'
    '. m m m m m m m m m m .'
    '. m m m m m m m m m m .'
    '. m m m m m m m m m m .'
    '. m m m m m m m m m m .'
    '. m m m m m m m m m m .'
}

